includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - app/
        - resources/views/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - '#^PHPDoc tag @mixin contains unknown class Eloquent.#'
        - identifier: missingType.checkedException

    excludePaths:
        - app/Http/Resources/

rules:
    - Utils\PHPStan\JsonResourceStaticMethodsRule
    - Utils\PHPStan\JsonResourceStaticPropertyRule
